apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: singleton-zk
  namespace: test
spec:
  serviceName: "zookeeper"
  replicas: 3
  selector:
    matchLabels:
      app: zookeeper
  template:
    metadata:
      labels:
        app: zookeeper
    spec:
      containers:
      - name: zookeeper
        image: zookeeper:3.9
        ports:
        - containerPort: 2181
        - containerPort: 2888
        - containerPort: 3888
        env:
        - name: ZOO_MY_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: ZOO_SERVERS
          value: server.1=zk-0.zookeeper:2888:3888 server.2=zk-1.zookeeper:2888:3888 server.3=zk-2.zookeeper:2888:3888
